@import "../variables";

@mixin border-poster($border-width, $radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border: solid $border-width $main-color;
}
.poster-img {
  max-width: 100%;
  height: auto;
  @include border-poster(4px, 10px);
  overflow: hidden;
  padding: 0;
}

.no-poster {
  margin-top: 2rem;
  width: 100%;
  padding-top: 125%;
  @include border-poster(4px, 10px);
  position: relative;
  & > i {
    color: $main-color;
    font-size: 3rem;
  }
}
.form-text {
  color: $warning-color;
}
.custom-title {
  text-transform: lowercase;
  font-variant: small-caps;
}
.custom {
  border-radius: 0px;
  border: 0;
  border-bottom: solid 2px $main-color;
  transition: all 0.1s ease-in-out;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
    border-bottom: solid 4px $main-color;
  }
}

.no-poster-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  & > .remove-button {
    color: $main-color;
  }
  &:hover {
    opacity: 0.8;
  }
}
