@mixin border-poster($border-width, $radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border: solid $border-width #fbc02d;
}
.poster-img {
  max-width: 100%;
  height: auto;
  @include border-poster(4px, 10px);
  overflow: hidden;
  padding: 0;
}

.no-poster {
  margin-top: 2rem;
  width: 100%;
  padding-top: 125%;
  @include border-poster(4px, 10px);
  position: relative;
  & > i {
    color: #fbc02d;
    font-size: 3rem;
  }
}

.no-poster-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  & > .remove-button {
    color: #fbc02d;
  }
  &:hover {
    opacity: 0.8;
  }
}
