.container {
  background-color: lighten(#0f0f0f, 70%);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
.text {
  color: white;
  margin: 0;
}
.wrapper {
  display: flex;
}
