@import "../variables";
@import "./TextInput.module.scss";

.lemons-wrapper {
  color: $main-color;
  font-size: 1.7rem;
  @media (max-width: 991.98px) {
    font-size: 1.5rem;
  }
}
.lemon {
  font-size: 1em;
  padding: 0 0.2em;
}
