@import "~bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

$warning-color: tomato;
$correct-color: limegreen;
$main-color: #fbc02d;
$black-font: #0F0F0F;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

p {
  color: $black-font;
}

h2 {
  font-size: 2.3rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

h4 {
  font-size: 0.9rem;
  opacity: 0.8;
  font-weight: 400;
}

@include media-breakpoint-down(lg) {
  h2 {
    font-size: 1.9rem;
  }
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 1.5rem;
  }
}
